.welcomeMessage{
  background-color: rgba(0, 170, 0, 0.85);
  padding: 10px 20px;
  border-radius: 10px;
}
.loginPrompt {
  background-color: rgba(170, 0, 0, 0.85);
  padding: 10px 20px;
  border-radius: 10px;

}