.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px white solid;
  border-radius: 20px;
  margin: 20px;
  padding: 5px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 100%, 0.1);
  text-align: center;
  color: white;
  min-width: 300px;
  max-width: 350px;
  min-height: 400px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.card .card-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 15px;
}

.card .card-title{
  font-size: 1.5rem;
  color:hsl(0, 0%, 85%);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0;
}

.card .card-text{
  font-size: 1rem;
  color:hsl(0, 0%, 85%);
  font-family: 'Courier New', Courier, monospace;
}

.card:hover{
  box-shadow: 0px 0px 30px hsla(0, 0%, 100%, 0.6);
  scale: 1.05;
}